<div class="row">
    <div class="container">
        <div class="col-md-12 center-place">
            <img src="../assets/images/sf-logo.png">
            <h2>
                <div class="dropdown" style="display: inline;">
                    <button class="btn btn-primary dropdown-toggle" type="button" onmouseenter="this.click()"
                            data-toggle="dropdown">Select Host
                        <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-center multi-level">
                        <li class="dropdown-submenu" ng-repeat="host in treedata">
                            <a href="#" ng-click="showSelected(host);">
                                <img src="../assets/images/host.png" width="20px">
                                {{host.name}}
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu" ng-repeat="adptr in host.children">
                                    <a href="#" ng-click="showSelected(adptr);">
                                        <img src="../assets/images/adaptor.png" width="20px">
                                        {{adptr.name}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="nic in adptr.children">
                                            <a href="#" ng-click="showSelected(nic)">
                                                <img src="../assets/images/port.png" width="20px">
                                                {{nic.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                to get started
            </h2>


        </div>
    </div>
</div>
