<?xml version="1.0" encoding="UTF-8"?>

<!--
   solarflare plugin metadata.
   The <plugin> tag doesn't contain any moduleUri property because it is an HTML plugin.
-->

<plugin id="com.solarflare.vcp"
      defaultBundle="com_solarflare_vcp">

   <resources>
      <resource locale="{locale}">
         <module uri="locales/solarflare-ui-{locale}.swf"/>
      </resource>
   </resources>

   <dependencies>
      <!-- Allow HTML Client to display plugin icons in menus, shortcuts, object lists -->
      <dependency type="css" uri="solarflare/assets/css/plugin-icons.css" />
   </dependencies>

    <!-- Home view shortcut -->

   <extension id="com.solarflare.vcp.homeShortcut">
      <extendedPoint>vise.home.shortcuts</extendedPoint>
      <object>
         <name>#{app.name}</name>
         <icon>#{pluginIcon}</icon>
         <categoryUid>vsphere.core.controlcenter.monitoringCategory</categoryUid>
         <targetViewUid>com.solarflare.vcp.mainView</targetViewUid>
      </object>
   </extension>

    
   <!-- Main view -->

   <extension id="com.solarflare.vcp.mainView">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{app.mainView}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/vsphere-client/solarflare/index.html?view=main</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
 
</plugin>
