<!-- Top left floating icon used to toggle the dev UI components in all views -->
<div *ngIf="!gs.isPluginMode()" style="float: left; position: absolute; z-index: 3;">
   <a (click)="gs.toggleDevUI()" class="tooltip tooltip-sm tooltip-bottom-right"
      role="tooltip" aria-haspopup="true" href="javascript://">
      <clr-icon [attr.shape]="gs.showDevUI() ? 'remove' : 'plus-circle'" size="16"
                [attr.class]="gs.showDevUI() ? 'is-inverse' : ''"></clr-icon>
      <span class="tooltip-content">{{gs.showDevUI() ? "Remove dev UI" : "Show dev UI"}}</span>
   </a>

</div>

<div class="main-container">
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="Collapsible">
            <clr-vertical-nav-group *ngFor="let host of hosts"
                    routerLink="/host/{{host.id}}" routerLinkActive="active">
                <clr-icon shape="host" clrVerticalNavIcon></clr-icon>
                    {{host.name}}
                <clr-vertical-nav-group-children>
                    <div style="margin-left:10px;">
                    <clr-vertical-nav-group *ngFor="let adaptor of host.children"
                                            routerLink="/adaptor/{{adaptor.id}}"
                                            routerLinkActive="active">
                        <img src="../assets/images/adaptor.png" width="20px"/>
                        {{adaptor.name}}
                        <clr-vertical-nav-group-children>
                            <a clrVerticalNavLink *ngFor="let nic of adaptor.children"
                               routerLink="nic/{{nic.id}}"
                               routerLinkActive="active">
                                <img src="../assets/images/port.png" width="15px"/>
                                {{nic.name}}
                            </a>
                        </clr-vertical-nav-group-children>
                    </clr-vertical-nav-group>
                    </div>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
        </clr-vertical-nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
