<clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="latestUpdateModal" [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Latest Update</h3>
    <div class="modal-body">

        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px"
             *ngIf="button.latestErr">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <div class="alert-text">
                        Request failed
                    </div>
                    <div class="alert-actions">
                        <button class="btn alert-action" [disabled]="button.latest"
                                (click)="button.latestErr = false;button.latest = true; latestUpdate();">Retry
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" class="close" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
        </div>

        <table class="table">
            <tr>
                <th rowspan="2" class="table-border-right"
                    style="vertical-align: middle;">
                    Adapter Name
                </th>
                <th colspan="2" class="table-border-right">Controller Version</th>
                <th colspan="2" class="table-border-right">Boot ROM Version</th>
                <th colspan="2">UEFI ROM Version</th>
            </tr>
            <tr>
                <th class="table-border-right">Current</th>
                <th class="table-border-right" style="color:#781DA0;">Latest</th>
                <th class="table-border-right">Current</th>
                <th class="table-border-right" style="color:#781DA0;">Latest</th>
                <th class="table-border-right">Current</th>
                <th style="color:#781DA0;">Latest</th>
            </tr>
            <tr *ngFor="let ad of adapters">
                <td>{{ad.name}}</td>
                <td>{{ad.versionController}}</td>
                <td>
                    <b style="color:#781DA0;" *ngIf="ad.latestVersion.controller !== null">
                        {{ad.latestVersion.controller}}
                    </b>
                    <b *ngIf="ad.latestVersion.controller === null">
                        NA
                    </b>
                </td>
                <td>{{ad.versionBootROM}}</td>
                <td>
                    <b style="color:#781DA0;" *ngIf="ad.latestVersion.bootROM !== null">
                        {{ad.latestVersion.bootROM}}
                    </b>
                    <b *ngIf="ad.latestVersion.bootROM === null">
                        NA
                    </b>
                </td>
                <td>{{ad.versionUEFIROM}}</td>
                <td>
                    <b style="color:#781DA0;" *ngIf="ad.latestVersion.uefi !== null">
                        {{ad.latestVersion.uefi}}
                    </b>
                    <b *ngIf="ad.latestVersion.uefi === null">
                        NA
                    </b>
                </td>
            </tr>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button"
                (click)="button.latestErr = false; latestUpdateModal = false; button.latest = false;">Cancel
        </button>
        <button class="btn btn-primary" type="button" [disabled]="button.latest"
                (click)="button.latestErr = false; button.latest = true; latestUpdate()">
            <span *ngIf="!button.latest">
                Update
            </span>
            <span class="spinner spinner-sm" *ngIf="button.latest"></span>
        </button>
    </div>
</clr-modal>

<clr-modal [clrModalSize]="'md'" [(clrModalOpen)]="customUpdateModal" [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Custom Update
        <div style="position: absolute;right: 0;" class="toggle-switch">
            <input type="checkbox" name="isUrl" id="urlFileSelect"
                   style="visibility: hidden;" [(ngModel)]="customSelectUrl">
            <label [ngStyle]="{'font-weight': customSelectUrl === true ? '' : 900,
                               'color': customSelectUrl === true ? '#C1CDD4': '#48960C'}"
                   [ngClass]="{'colored': customSelectUrl === false}"
                   for="urlFileSelect">
                File
            </label>
            <span style="cursor: pointer;"
                  [ngStyle]="{'font-weight': customSelectUrl === true ? 900 : '',
                   'color': customSelectUrl === false ? '#C1CDD4': '#48960C'}"
                  (click)="customSelectUrl = !customSelectUrl; button.customErr = false;">URL</span>
        </div>
    </h3>
    <div class="modal-body">
        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px"
             *ngIf="button.customErr">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <div class="alert-text">
                        Request failed
                    </div>
                    <div class="alert-actions">
                        <button class="btn alert-action" *ngIf="customSelectUrl"
                                [disabled]="button.custom || customUploadUrl.invalid"
                                (click)="button.customErr = false;button.custom = true; onSubmitUrl();">Retry
                        </button>
                        <button class="btn alert-action" *ngIf="!customSelectUrl"
                                [disabled]="button.custom || customUploadFile.invalid"
                                (click)="button.customErr = false;button.custom = true; onSubmitFile();">Retry
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" (click)="button.customErr = false" class="close" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
        </div>


        <p *ngIf="customSelectUrl">
            &nbsp; Please provide URL to fetch firmware file from
        </p>

        <p *ngIf="!customSelectUrl">
            &nbsp; Please select firmware file
        </p>

        <form style="min-height: 72px;" [formGroup]="customUploadUrl" *ngIf="customSelectUrl">
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="select">
                            <select id="urlProtocol" formControlName="urlProtocol">
                                <option selected value="">Select URL Protocol</option>
                                <option value="http://">http://</option>
                                <option value="https://">https://</option>
                                <option value="sftp://">sftp://</option>
                                <option value="tftp://">tftp://</option>
                                <option value="ftp://">ftp://</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="url"
                               aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                               [class.invalid]="customUploadUrl.invalid && (customUploadUrl.dirty || customUploadUrl.touched)">
                            <input type="text" id="url" formControlName="url"
                                   required
                                   (input)="urlVerifier()"
                                   placeholder="solarflare.com/downloads/.../mcfw.dat" size="40">
                            <span class="tooltip-content">
                                Valid
                                <i *ngIf="customUploadUrl.value.url === ''
                                && customUploadUrl.value.urlProtocol !== ''">URL</i>
                                <i *ngIf="customUploadUrl.value.urlProtocol === ''
                                && customUploadUrl.value.url !== ''">Protocol</i>
                                <i *ngIf="urlVerifier() && customUploadUrl.value.url === ''
                                && customUploadUrl.value.urlProtocol === ''">Protocol and URL</i>
                                Required
                </span>
                        </label>
                    </div>
                </div>
            </section>
        </form>

        <form [formGroup]="customUploadFile" *ngIf="!customSelectUrl">
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <label class="btn btn-outline"
                               style="width: 100%;" for="fwFile">
                            <a *ngIf="customUploadFile.value.fwFile !== null">
                                {{customUploadFile.value.fwFile.filename}}
                            </a>
                            <a *ngIf="customUploadFile.invalid">
                                Select Firmware File
                            </a>
                        </label>
                        <input type="file"
                               required id="fwFile" (change)="onFileChange($event)" #fileInput
                               placeholder="Select file" style="display: none;"
                               accept=".dat"/>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                        <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Clear</button>

                    </div>
                </div>
            </section>
        </form>


    </div>
    <div class="modal-footer" *ngIf="customSelectUrl">
        <button class="btn btn-outline" type="button" (click)="customUpdateModal = false">Cancel</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmitUrl()"
                [disabled]="customUploadUrl.invalid || button.custom">
            <span *ngIf="!button.custom">
                Update
            </span>
            <span class="spinner spinner-sm" *ngIf="button.custom"></span>
        </button>
    </div>
    <div class="modal-footer" *ngIf="!customSelectUrl">
        <button class="btn btn-outline" type="button" (click)="customUpdateModal = false;">Cancel</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmitFile()"
                [disabled]="customUploadFile.invalid || button.custom">
            <span *ngIf="!button.custom">
                Update
            </span>
            <span class="spinner spinner-sm" *ngIf="button.custom"></span>
        </button>
    </div>
</clr-modal>

<clr-modal [clrModalSize]="'md'" [(clrModalOpen)]="status.custom.modal">
    <h3 class="modal-title">Custom Firmware Update Status</h3>
    <div class="modal-body" style="min-height: 140px;">
        <h6>Note: Firmware update may take some time ...</h6>

        <div *ngFor="let output of status.custom.output; let i = index">
            <h6>{{i+1}}. {{output.name}} :</h6>
            <div *ngIf="output.controller !== null ">
                <span *ngIf="output.controller.state === 'Success' && output.controller.to ">
                Controller Firmware: v{{output.controller.from}} updated to v{{output.controller.to}}
            </span>
                <span *ngIf="output.controller.state === 'Success' && !output.controller.to ">
                Controller Firmware: v{{output.controller.from}} updating ...
            </span>
                <span *ngIf="output.controller.state === 'Error'">
                Controller Firmware: Error occurred while updating v{{output.controller.from}}
                <i style="color: red;" *ngIf="output.controller.message !== null"><br/>{{output.controller.message}}</i>
            </span>
                <span *ngIf="output.controller.state === 'Queued' || output.controller.state === 'Running'">
                Controller Firmware: v{{output.controller.from}} updating ...
            </span>
                <br/>
            </div>

            <div *ngIf="output.bootRom !== null ">
                <span *ngIf="output.bootRom.state === 'Success' && output.bootRom.to ">
                BootROM Firmware: v{{output.bootRom.from}} updated to v{{output.bootRom.to}}
            </span>
                <span *ngIf="output.bootRom.state === 'Success' && !output.bootRom.to ">
                BootROM Firmware: v{{output.bootRom.from}} updating ...
            </span>
                <span *ngIf="output.bootRom.state === 'Error'">
                BootROM Firmware: Error occurred while updating v{{output.bootRom.from}}
                <i style="color: red;" *ngIf="output.bootRom.message !== null"><br/>{{output.bootRom.message}}</i>
            </span>
                <span *ngIf="output.bootRom.state === 'Queued' || output.bootRom.state === 'Running'">
                BootROM Firmware: v{{output.bootRom.from}} updating ...
            </span>
                <br/>
            </div>

            <div *ngIf="output.uefiRom !== null">
                <span *ngIf="output.uefiRom.state === 'Success' && output.uefiRom.to ">
                UEFIROM Firmware: v{{output.uefiRom.from}} updated to v{{output.uefiRom.to}}
            </span>
                <span *ngIf="output.uefiRom.state === 'Success' && !output.uefiRom.to ">
                UEFIROM Firmware: v{{output.uefiRom.from}} updating ...
            </span>
                <span *ngIf="output.uefiRom.state === 'Error'">
                UEFIROM Firmware: Error occurred while updating v{{output.uefiRom.from}}
                <i style="color: red;" *ngIf="output.uefiRom.message !== null"><br/>{{output.uefiRom.message}}</i>
            </span>
                <span *ngIf="output.uefiRom.state === 'Queued' || output.uefiRom.state === 'Running'">
                UEFIROM Firmware: v{{output.uefiRom.from}} updating ...
            </span>
                <br/>
            </div>


            <span *ngIf="output.uefiRom === null && output.bootRom === null && output.controller === null">
                Update is in progress.. Please wait...<br/>
            </span>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="status.custom.modal = false;status.status = true;" >Ok</button>
    </div>
</clr-modal>

<clr-modal [clrModalSize]="'md'" [(clrModalOpen)]="status.latest.modal">
    <h3 class="modal-title">Latest Firmware Update Status</h3>
    <div class="modal-body" style="min-height: 140px;">
        <h6>Note: Firmware update may take some time ...</h6>

        <div *ngFor="let output of status.latest.output; let i = index">
            <h6>{{i+1}}. {{output.name}}</h6>
            <div *ngIf="output.controller !== null">
                <span *ngIf="output.controller.state === 'Success'">
                Controller Firmware: v{{output.controller.from}} updated to v{{output.controller.to}}
            </span>
                <span *ngIf="output.controller.state === 'Error'">
                Controller Firmware: Error occurred while updating v{{output.controller.from}} to v{{output.controller.to}}
                <i style="color: red;" *ngIf="output.controller.message !== null"><br/>{{output.controller.message}}</i>
            </span>
                <span *ngIf="output.controller.state === 'Queued' || output.controller.state === 'Running'">
                Controller Firmware: v{{output.controller.from}} updating to v{{output.controller.to}}
            </span>
                <br/>
            </div>
            <div *ngIf="output.bootRom !== null">
                <span *ngIf="output.bootRom.state === 'Success'">
                BootROM Firmware: v{{output.bootRom.from}} updated to v{{output.bootRom.to}}
            </span>
                <span *ngIf="output.bootRom.state === 'Error'">
                BootROM Firmware: Error occurred while updating v{{output.bootRom.from}} to v{{output.bootRom.to}}
                <i style="color: red;" *ngIf="output.bootRom.message !== null"><br/>{{output.bootRom.message}}</i>
            </span>
                <span *ngIf="output.bootRom.state === 'Queued' || output.bootRom.state === 'Running'">
                BootROM Firmware: v{{output.bootRom.from}} updating to v{{output.bootRom.to}}
            </span>
                <br/>
            </div>
            <div *ngIf="output.uefiRom !== null">
                <span *ngIf="output.uefiRom.state === 'Success'">
                UefiROM Firmware: v{{output.uefiRom.from}} updated to v{{output.uefiRom.to}}
            </span>
                <span *ngIf="output.uefiRom.state === 'Error'">
                UefiROM Firmware: Error occurred while updating v{{output.uefiRom.from}} to v{{output.uefiRom.to}}
                <i style="color: red;" *ngIf="output.uefiRom.message !== null"><br/>{{output.uefiRom.message}}</i>
            </span>
                <span *ngIf="output.uefiRom.state === 'Queued' || output.uefiRom.state === 'Running'">
                UefiROM Firmware: v{{output.uefiRom.from}} updating to v{{output.uefiRom.to}}
            </span>
                <br/>
            </div>


            <span *ngIf="output.uefiRom === null && output.bootRom === null && output.controller === null">
                Update is in progress.. Please wait...
            </span>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="status.latest.modal = false;status.status = true;" >Ok</button>
    </div>
</clr-modal>

<div class="row">

    <div class="col-md-12">

        <div style="padding:20px;" class="container-fluid">
            <img src="../solarflare/assets/images/sf-logo.png" width="140px">
            <div style="text-align: right;">
                <div class="btn-group">
                    <button class="btn" (click)="adapter = {};getAdapterList()">Refresh</button>
                    <button class="btn btn-info">Help</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <div style="text-align: center">
            <span class="spinner spinner-lg" *ngIf="(adapter|json) === '{}' && !getOverviewErr ">
            Loading..
            </span>
            <span class="text-danger" *ngIf="getOverviewErr"><br/>
                <clr-icon shape="error-standard" style="margin: 0 auto"></clr-icon>
                Error occurred while fetching data</span>
        </div>
    </div>

</div>

<div class="row" *ngIf="(adapter|json) !== '{}' ">
    <div class="container-fluid">
        <div style="padding: 10px;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Firmware Type</th>
                    <th>Installed Version</th>
                    <th>Latest Version</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Controller Version</td>
                    <td>{{adapter.versionController}}</td>
                    <td>{{adapter.latestVersion.controller}}</td>
                </tr>
                <tr>
                    <td>BootROM Version</td>
                    <td>{{adapter.versionBootROM}}</td>
                    <td>{{adapter.latestVersion.bootROM}}</td>
                </tr>
                <tr>
                    <td>UEFI ROM</td>
                    <td>{{adapter.versionUEFIROM}}</td>
                    <td>{{adapter.latestVersion.uefi}}</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12" style="text-align: center;">
                <button class="btn"
                        (click)="latestUpdateModal = true"
                        [disabled]="gettingAdapterList">
                    Update to Latest
                </button>
                <button class="btn btn-outline"
                        (click)="customUpdateModal = true;"
                        [disabled]="gettingAdapterList">
                    Custom Update
                </button>
            </div>
        </div>
    </div>
</div>
