<!-- <clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="helpModalOpen">
    <h3 class="modal-title">Help for host overview</h3>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="helpModalOpen = false">OK
        </button>
    </div>
</clr-modal> -->
<div class="row">
    <div class="col-md-12">
        <div style="padding:20px;" class="container-fluid">
            <img [src]="isProd ? '../solarflare/assets/images/sf-logo.png' : 'assets/images/sf-logo.png'" width="140px">
            <div style="text-align: right;">
                <div class="btn-group">
                    <button class="btn" [disabled]="refreshButtonDisable" (click)="hostDetail = {};getHostDetail()">Refresh</button>
                    <button class="btn btn-info" (click)="helpModalOpen = true">Help</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div style="text-align: center">
            <span class="spinner spinner-lg" *ngIf="(hostDetail|json) === '{}' && !getOverviewErr ">
            Loading..
            </span>
            <span class="text-danger" *ngIf="getOverviewErr"><br/>
                <clr-icon shape="error-standard" style="margin: 0 auto"></clr-icon>
                Error occurred while fetching data</span>
        </div>

        <div class="row" *ngIf="(hostDetail|json) !== '{}' ">
            <div class="container-fluid">
                <div style="padding: 40px;">

                    <table class="host-overview">
                        <tr>
                            <td rowspan="4">
                                <img [src]="isProd ? '../solarflare/assets/images/host.png' : 'assets/images/host.png'" width="160px">
                            </td>
                            <td>Adapters <span class="pull-right">({{hostDetail.adapterCount}})</span></td>
                            <td colspan="2" style="height: 2em">
                                <img class="icos" style="float: left; margin-left: 2px"
                                    *ngFor="let adapter of [] | range:hostDetail.adapterCount"
                                    [src]="isProd ? '../solarflare/assets/images/adaptor_.png' : 'assets/images/adaptor_.png'" width="40px"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Ports <span class="pull-right">({{hostDetail.portCount}})</span></td>
                            <td colspan="2" style="height: 2em;">
                                <img class="icos" style="float: left; margin-left: 2px"
                                    *ngFor="let port of [] | range:hostDetail.portCount"
                                    [src]="isProd ? '../solarflare/assets/images/port_.png' : 'assets/images/port_.png'" width="30px">
                            </td>
                        </tr>
                        <tr>
                            <td>Driver Version</td>
                            <td colspan="2">{{hostDetail.driverVersion}}</td>
                        </tr>
                        <tr>
                            <td >CIM Provider Version</td>
                            <td colspan="2">{{hostDetail.cimProviderVersion}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center"><h3>{{hostDetail.name}}</h3></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>