<clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="latestUpdateModal" [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Latest Update</h3>
    <div class="modal-body">

        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px"
             *ngIf="button.latestErr">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <div class="alert-text">
                        Request sending failed
                    </div>
                    <div class="alert-actions">
                        <button class="btn alert-action" [disabled]="button.latest"
                                (click)="button.latestErr = false;button.latest = true; latestUpdate();">Retry
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" class="close" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
        </div>

        <table class="table">
            <tr>
                <th rowspan="2" class="table-border-right"
                    style="vertical-align: middle;">
                    Adapter Name
                </th>
                <th colspan="2" class="table-border-right">Controller Version</th>
                <th colspan="2" class="table-border-right">Boot Rom Version</th>
                <th colspan="2">UEFI Rom Version</th>
            </tr>
            <tr>
                <th class="table-border-right">Current</th>
                <th class="table-border-right" style="color:#781DA0;">Latest</th>
                <th class="table-border-right">Current</th>
                <th class="table-border-right" style="color:#781DA0;">Latest</th>
                <th class="table-border-right">Current</th>
                <th style="color:#781DA0;">Latest</th>
            </tr>
            <tr *ngFor="let ad of selectedAdapters">
                <td>{{ad.name}}</td>
                <td>{{ad.versionController}}</td>
                <td>
                    <b style="color:#781DA0;" *ngIf="ad.latestVersion.controlerVersion !== null">
                        {{ad.latestVersion.controlerVersion}}
                    </b>
                    <b *ngIf="ad.latestVersion.controlerVersion === null">
                        NA
                    </b>
                </td>
                <td>{{ad.versionBootROM}}</td>
                <td>
                    <b style="color:#781DA0;" *ngIf="ad.latestVersion.bootROMVersion !== null">
                        {{ad.latestVersion.bootROMVersion}}
                    </b>
                    <b *ngIf="ad.latestVersion.bootROMVersion === null">
                        NA
                    </b>
                </td>
                <td>{{ad.versionUEFIROM}}</td>
                <td>
                    <b style="color:#781DA0;" *ngIf="ad.latestVersion.uefiVersion !== null">
                        {{ad.latestVersion.uefiVersion}}
                    </b>
                    <b *ngIf="ad.latestVersion.uefiVersion === null">
                        NA
                    </b>
                </td>
            </tr>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button"
                (click)="button.latestErr = false; latestUpdateModal = false; button.latest = false;">Cancel
        </button>
        <button class="btn btn-primary" type="button" [disabled]="button.latest"
                (click)="button.latestErr = false; button.latest = true; latestUpdate()">
            <span *ngIf="!button.latest">
                Update
            </span>
            <span class="spinner spinner-sm" *ngIf="button.latest"></span>
        </button>
    </div>
</clr-modal>

<clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="validateLatestUpdateModal">
    <h3 class="modal-title">Later version(s) not found for adapters</h3>
    <div class="modal-body">

        <clr-datagrid>
            <clr-dg-column>Adapter Name</clr-dg-column>
            <clr-dg-column>Controller Version</clr-dg-column>
            <clr-dg-column>Boot Rom Version</clr-dg-column>
            <clr-dg-column>UEFI Rom Version</clr-dg-column>

            <clr-dg-column>Later Version Available</clr-dg-column>

            <clr-dg-row *clrDgItems="let ad of selectedAdapters"
                        [clrDgItem]="ad"
                        [ngStyle]="{'background-color': ad.laterVersionAvailable === true ? '' : '#adcb' }">
                <clr-dg-cell>{{ad.name}}</clr-dg-cell>
                <clr-dg-cell>{{ad.versionController}}</clr-dg-cell>
                <clr-dg-cell>{{ad.versionBootROM}}</clr-dg-cell>
                <clr-dg-cell>{{ad.versionUEFIROM}}</clr-dg-cell>
                <clr-dg-cell>
                    <span *ngIf="!ad.laterVersionAvailable">
                        <b style="font-size: large">No</b>
                    </span>
                    <span *ngIf="ad.laterVersionAvailable">
                        Yes
                    </span>
                </clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
        <h6> Remove adaptors without latest updates to continue</h6>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button"
                (click)="validateLatestUpdateModal = false">Cancel
        </button>
        <button class="btn btn-primary" type="button" *ngIf="updatable.latest"
                (click)="validateLatestUpdate('remove')">Remove and continue
        </button>
    </div>
</clr-modal>

<clr-modal [clrModalSize]="'md'" [(clrModalOpen)]="customUpdateModal" [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Custom Update from
        <div class="toggle-switch">
            <input type="checkbox" name="isUrl" id="urlFileSelect"
                   style="visibility: hidden;" [(ngModel)]="customSelectUrl">
            <label [ngStyle]="{'font-weight': customSelectUrl === true ? '' : 900,
                               'color': customSelectUrl === true ? '#C1CDD4': '#48960C'}"
                   [ngClass]="{'colored': customSelectUrl === false}"
                   for="urlFileSelect">
                File
            </label>
            <span style="cursor: pointer;"
                  [ngStyle]="{'font-weight': customSelectUrl === true ? 900 : '',
                   'color': customSelectUrl === false ? '#C1CDD4': '#48960C'}"
                  (click)="customSelectUrl = !customSelectUrl; button.customErr = false;">URL</span>
        </div>
    </h3>
    <div class="modal-body">
        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px"
             *ngIf="button.customErr">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <div class="alert-text">
                        Request sending failed
                    </div>
                    <div class="alert-actions">
                        <button class="btn alert-action" *ngIf="customSelectUrl"
                                [disabled]="button.custom || customUploadUrl.invalid"
                                (click)="button.customErr = false;button.custom = true; onSubmitUrl();">Retry
                        </button>
                        <button class="btn alert-action" *ngIf="!customSelectUrl"
                                [disabled]="button.custom || customUploadFile.invalid"
                                (click)="button.customErr = false;button.custom = true; onSubmitFile();">Retry
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" (click)="button.customErr = false" class="close" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
        </div>


        <p *ngIf="customSelectUrl">
            &nbsp; Please provide URL to fetch firmware file from
        </p>

        <p *ngIf="!customSelectUrl">
            &nbsp; Please select firmware file
        </p>

        <form [formGroup]="customUploadUrl" *ngIf="customSelectUrl">
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="select">
                            <select id="urlProtocal" formControlName="urlProtocol">
                                <option selected value="">Select Url Protocol</option>
                                <option value="http://">http://</option>
                                <option value="https://">https://</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="url"
                               aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                               [class.invalid]="customUploadUrl.invalid && (customUploadUrl.dirty || customUploadUrl.touched)">
                            <input type="text" id="url" formControlName="url"
                                   required pattern="^([a-zA-Z0-9]+(\.[a-zA-Z0-9]+)+.*)$"
                                   placeholder="solarflare.com/downloads/.../mcfw.dat" size="40">
                            <span class="tooltip-content">
                    Valid Protocol and URL Required
                </span>
                        </label>
                    </div>
                </div>
            </section>
        </form>

        <form [formGroup]="customUploadFile" *ngIf="!customSelectUrl">
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <label class="btn btn-outline"
                               style="width: 100%;" for="fwFile">
                            <a *ngIf="customUploadFile.value.fwFile !== null">
                                {{customUploadFile.value.fwFile.filename}}
                            </a>
                            <a *ngIf="customUploadFile.invalid">
                                Select F/w File
                            </a>
                        </label>
                        <input type="file"
                               required id="fwFile" (change)="onFileChange($event)" #fileInput
                               placeholder="Select file" style="display: none;"
                               accept=".dat"/>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                        <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Clear</button>

                    </div>
                </div>
            </section>
        </form>


    </div>
    <div class="modal-footer" *ngIf="customSelectUrl">
        <button class="btn btn-outline" type="button" (click)="customUpdateModal = false">Cancel</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmitUrl()"
                [disabled]="customUploadUrl.invalid || button.custom">
            <span *ngIf="!button.custom">
                Update
            </span>
            <span class="spinner spinner-sm" *ngIf="button.custom"></span>
        </button>
    </div>
    <div class="modal-footer" *ngIf="!customSelectUrl">
        <button class="btn btn-outline" type="button" (click)="customUpdateModal = false;">Cancel</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmitFile()"
                [disabled]="customUploadFile.invalid || button.custom">
            <span *ngIf="!button.custom">
                Update
            </span>
            <span class="spinner spinner-sm" *ngIf="button.custom"></span>
        </button>
    </div>
</clr-modal>

<div class="row">

    <div class="col-md-12">

        <div style="padding:20px;" class="container-fluid">
            <img src="../solarflare/assets/images/sf-logo.png" width="140px">
            <div style="text-align: right;">
                <div class="btn-group">
                    <button class="btn" (click)="getAdapterList()">Refresh</button>
                    <button class="btn btn-info">Help</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <div style="text-align: center">
            <span class="spinner spinner-lg" *ngIf="(adapterList|json) === '[]' ">
            Loading..
            </span>
        </div>
        <div class="row" *ngIf="(adapterList|json) != '[]'">
            <div class="col-md-12">
                <clr-datagrid style="min-height: 80px;"
                              *ngIf="(adapterList|json) != '[]'" [(clrDgSelected)]="selectedAdapters">
                    <clr-dg-column>Adapter Name</clr-dg-column>
                    <clr-dg-column>Firmware Family Version</clr-dg-column>
                    <clr-dg-column>Controller Version</clr-dg-column>
                    <clr-dg-column>Boot Rom Version</clr-dg-column>
                    <clr-dg-column>UEFI Rom Version</clr-dg-column>
                    <clr-dg-column>Updates Available</clr-dg-column>

                    <clr-dg-row *clrDgItems="let ad of adapterList; let i = index" [clrDgItem]="ad">
                        <clr-dg-cell>
                            {{ad.name}}
                        </clr-dg-cell>
                        <clr-dg-cell>{{ad.versionFirmware}}</clr-dg-cell>
                        <clr-dg-cell>
                            {{ad.versionController}}


                            <a role="tooltip" aria-haspopup="true"
                               *ngIf="statusUpdate(ad.status, 'controller', 'bool')"
                               [ngClass]="statusUpdate(ad.status, 'controller', 'class')"
                               [class.tooltip-bottom-right]="!i" class="tooltip tooltip-md">
                                <clr-icon [attr.shape]="statusUpdate(ad.status, 'controller', 'shape')" size="24"></clr-icon>
                                <span class="tooltip-content">{{statusUpdate(ad.status, 'controller', 'txt')}}</span>
                            </a>

                        </clr-dg-cell>
                        <clr-dg-cell>
                            {{ad.versionBootROM}}

                            <a role="tooltip" aria-haspopup="true"
                               *ngIf="statusUpdate(ad.status, 'BootROM', 'bool')"
                               [ngClass]="statusUpdate(ad.status, 'BootROM', 'class')"
                               [class.tooltip-bottom-right]="!i" class="tooltip tooltip-md">
                                <clr-icon [attr.shape]="statusUpdate(ad.status, 'BootROM', 'shape')" size="24"></clr-icon>
                                <span class="tooltip-content">{{statusUpdate(ad.status, 'BootROM', 'txt')}}</span>
                            </a>

                        </clr-dg-cell>
                        <clr-dg-cell>
                            {{ad.versionUEFIROM}}

                            <a role="tooltip" aria-haspopup="true"
                               *ngIf="statusUpdate(ad.status, 'UEFIROM', 'bool')"
                               [ngClass]="statusUpdate(ad.status, 'UEFIROM', 'class')"
                               [class.tooltip-bottom-right]="!i" class="tooltip tooltip-md">
                                <clr-icon [attr.shape]="statusUpdate(ad.status, 'UEFIROM', 'shape')" size="24"></clr-icon>
                                <span class="tooltip-content">{{statusUpdate(ad.status, 'UEFIROM', 'txt')}}</span>
                            </a>
                        </clr-dg-cell>

                        <clr-dg-cell>
                             <span *ngIf="ad.laterVersionAvailable">
                                 <b>Available</b>
                                </span>
                            <span *ngIf="!ad.laterVersionAvailable">
                                    No
                                </span>
                        </clr-dg-cell>

                    </clr-dg-row>
                    <clr-dg-footer>{{adapterList.length}} Adapters</clr-dg-footer>
                </clr-datagrid>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <button class="btn"
                        (click)="validateLatestUpdate() && latestUpdateModal = true"
                        [disabled]="selectedAdapters.length == 0">
                    Update
                </button>
                <button class="btn btn-outline"
                        (click)="customUpdateModal = true; button.custom = false; button.customErr = false;"
                        [disabled]="selectedAdapters.length == 0">
                    Custom Update
                </button>
            </div>
        </div>
    </div>

</div>

