<html>

<head>
  <title>Simple Split Panels - jquery-resizable</title>
  <meta charset="utf-8" />
  <link href="../assets/css/sidebar.css" rel="stylesheet">
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/angular-bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/treeview.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="sfApp" ng-controller="sfmaincontroller">
  <div class="panel-container">
    <div class="panel-left">
      <div class="panel-left-container">
       <div  style="margin: 5px;position: relative;">
         <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search">
         <i class="form-control-feedback glyphicon glyphicon-search"></i>
        </div>
        <treecontrol class="tree-light" tree-model="treedata" node-search="search" node-children="children" on-selection="showSelected(node)" selected-node="node2">
        <span>{{node.name}}</span> </treecontrol>
      </div>
    </div>
    <div class="splitter"></div>

    <div class="panel-right">
      <div class="container-fluid">
        <div class="">
<!--           					{{selected.type}} -->
          <section ng-if="selected.type=='HOST'"  ng-include="'sfmvc/views/hostDetails.html'"></section>
          <section ng-if="selected.type=='NIC'" ng-include="'sfmvc/views/nicDetails.html'"></section>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="../assets/jquery-1.10.2.min.js"></script>
  <!-- ** web-platform.js must be included before any other view code ** -->
  <script src="./js/web-platform.js"></script>
  <script src="../assets/bootstrap.min.js"></script>
  <!-- Angular Js Script Starts -->
  <script src="../assets/angular.min.js"></script>
  <script src="../assets/angular-bootstrap-toggle.min.js"></script>
  <script src="../assets/ui-bootstrap-tpls-0.14.3.js"></script>
  <script src="../assets/jquery-resizable.js"></script>
  <script src="../resources/js/app.js"></script>
  <script src="../resources/sfmvc/services/sfServices.js"></script>
  <script src="../resources/sfmvc/controllers/sfmaincontroller.js"></script>
  <script src="../resources/sfmvc/directives/treedirective.js"></script>
  <script>
    $(".panel-left").resizable({
      handleSelector: ".splitter",
      resizeHeight: false
    });
  </script>
</body>

</html>