<div class="row">

    <div class="col-md-12">

        <div style="padding:20px;" class="container-fluid">
            <img [src]="isProd ? '../solarflare/assets/images/sf-logo.png' : 'assets/images/sf-logo.png'" width="140px">
            <div style="text-align: right;">
                <div class="btn-group">
                    <button class="btn" (click)="refresh()">Refresh</button>
                    <button class="btn btn-info">Help</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <div style="text-align: center">
            <span class="spinner spinner-lg" *ngIf="!adapterDetail?.portNumber && !getOverviewErr ">
                Loading..
            </span>
            <span class="text-danger" *ngIf="getOverviewErr">
                <br/>
                <clr-icon shape="error-standard" style="margin: 0 auto"></clr-icon>
                Error occurred while fetching data</span>
        </div>

        <div class="row" *ngIf="adapterDetail?.portNumber">
            <div class="container">
                <div style="padding: 40px;">

                    <table>
                        <tr>
                            <td class="adaptercol1">
                                Adapter Name
                            </td>
                            <td>
                                {{adapterDetail.adapterName}}
                            </td>
                        </tr>
                        <tr>
                            <td class="adaptercol1">
                                Port Number
                            </td>
                            <td>
                                {{adapterDetail.portNumber}}
                            </td>
                        </tr>
                        <tr>
                            <td class="adaptercol1">
                                Serial Number
                            </td>
                            <td>
                                {{adapterDetail.serialNumber}}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>