<clr-tabs>
    <clr-tab>
        <button (click)="redirect('overview')" clrTabLink id="overview">Overview</button>
        <clr-tab-content id="overview" *clrIfActive="true">
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button (click)="redirect('fwupdate')" id="fwupdate" clrTabLink>Firmware Update</button>
        <clr-tab-content id="fwupdate" *clrIfActive>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button (click)="redirect('config')" id="config" clrTabLink>Configuration</button>
        <clr-tab-content id="config" *clrIfActive>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
<router-outlet></router-outlet>